In [1]:
import nltk

In [1]:
nltk.download("punkt") # Tokenization 
nltk.download('stopwords') # stop removal
nltk.download('averaged_perceptron_tagger') # POS Tagging
nltk.download('wordnet') # wordnet datsbase and lemmatization 
nltk.download('omw-1.4') #stemming
nltk.download('indian') # Indian language POS tagging
nltk.download('maxent_ne_chunker') # Chunking

NameError: name 'nltk' is not defined

##### Sample Example

In [7]:
sent = 'They told that their ages are 25 27 and 31 resdpectively'

In [22]:
# Find the average of ages mentioned in the above snetance

intput = 'They told that their ages are 25 27 and 31 resdpectively'
lst = intput.split()
s = 0
ages = []
for word in lst:
    if word.isdigit():
        ages.append(int(word))

In [23]:
ages

[25, 27, 31]

In [26]:
sum(ages)/ len(ages)

27.666666666666668

In [27]:
import numpy as np

In [28]:
np.mean([int(word) for word in sent.split() if word.isdigit()])

27.666666666666668

### Toeknization

In [55]:
sent = 'Hello friends! How are you? Welcome to Python Progrmming.'

In [56]:
# import the function s

from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [57]:
# Segmentation 
sent_tokenize(sent)

['Hello friends!', 'How are you?', 'Welcome to Python Progrmming.']

In [58]:
word_tokenize(sent)

['Hello',
 'friends',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Welcome',
 'to',
 'Python',
 'Progrmming',
 '.']

In [70]:
# word = word_tokenize(sent)
# #print(word)

# count = 0
# for word in word:
#     if word.isalnum():
#         print(word)
#         count = count + 1

# print(count)
# # per = (coun/len(word))/100

# print(per)

In [71]:
pun_count = len([word for word in word_tokenize(sent) if not word.isalnum()])

In [72]:
pun_count / len(word_tokenize(sent))

0.25

In [73]:
ord('y')

121

In [74]:
ord('#')

35

In [75]:
import sys
sys.getsizeof('=')

50

In [76]:
help(sys.getsizeof)

Help on built-in function getsizeof in module sys:

getsizeof(...)
    getsizeof(object [, default]) -> int

    Return the size of object in bytes.

In [77]:
chr

In [78]:
chr(67)

'C'

In [79]:
char = '\u0935'

In [80]:
print(char)

व

In [82]:
char = '\u0935\u0940'

In [83]:
print(char)

वी

In [84]:
ord('व')

2357

In [85]:
chr(2357)

'व'

In [86]:
chr(0x935)

'व'

In [87]:
sys.getsizeof('व')

76

In [88]:
name = 'गौरव कुमार सिंह'

In [90]:
name.startswith('ग')

True

In [91]:
len(name)

15

##### Space Tokenizer

In [106]:
# with open('mydata.txt') as file:
#     data = file.readable()
#     for line in file:
#         print(line)

Hello Friends! How are you?

Welcome tothe world of python Programming.

In [107]:
# with open('mydata.txt') as file:
#     data = file.readline()
#     print(data)

Hello Friends! How are you?

In [108]:
# with open('mydata.txt') as file:
#     data = file.readlines()
#     print(data)

['Hello Friends! How are you?\n', 'Welcome tothe world of python Programming.\n', '\n']

In [109]:
with open('mydata.txt') as file:
    data = file.read()
    print(data)

Hello Friends! How are you?
Welcome tothe world of python Programming.

In [110]:
data

'Hello Friends! How are you?\nWelcome tothe world of python Programming.\n\n'

In [113]:
# import the class 
from nltk.tokenize import SpaceTokenizer

# Create the object
tk = SpaceTokenizer()

# Tokenize the data
tk.tokenize(data)

['Hello',
 'Friends!',
 'How',
 'are',
 'you?\nWelcome',
 'tothe',
 'world',
 'of',
 'python',
 'Programming.\n\n']

### Tab Tokenizer

In [133]:
with open('mydata.txt') as file:
    data = file.read()

In [130]:
# f = open('mydata.txt')
# data = f.read()

In [127]:
# import the class 
from nltk.tokenize import TabTokenizer
tk = TabTokenizer()

# Tokenize the data
tk.tokenize(data)

['Hello Friends!',
 'How are you?\nWelcome tothe world of',
 'python Programming.\n\n']

## Line Tokenizer

In [135]:
# import the class 
from nltk.tokenize import LineTokenizer
tk = LineTokenizer()

# Tokenize the data
tk.tokenize(data)

['Hello Friends!\tHow are you?', 'Welcome tothe world of\tpython Programming.']

### White space Tokeniazer

In [137]:
# import the class 
from nltk.tokenize import WhitespaceTokenizer
tk = WhitespaceTokenizer()

# Tokenize the data
tk.tokenize(data) # It wil also combine newline and tab along with white space

['Hello',
 'Friends!',
 'How',
 'are',
 'you?',
 'Welcome',
 'tothe',
 'world',
 'of',
 'python',
 'Programming.']

### MWE Tokenizer ( Multi word expresion)

In [138]:
sent1 = '''The Van Rossum is Python createor , visiting Pune this week. The devlopment
community is very eager to meet Van Rossum'''

In [139]:
print(sent1)

The Van Rossum is Python createor , visiting Pune this week. The devlopment
community is very eager to meet Van Rossum

In [140]:
word_tokenize(sent1)

['The',
 'Van',
 'Rossum',
 'is',
 'Python',
 'createor',
 ',',
 'visiting',
 'Pune',
 'this',
 'week',
 '.',
 'The',
 'devlopment',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van',
 'Rossum']

In [147]:
# import the class 
from nltk.tokenize import MWETokenizer
tk = MWETokenizer(separator = " ")

# add mluti word Expression
tk.add_mwe(('Van','Rossum'))

# Tokenize the data
tk.tokenize(word_tokenize(sent1))

['The',
 'Van Rossum',
 'is',
 'Python',
 'createor',
 ',',
 'visiting',
 'Pune',
 'this',
 'week',
 '.',
 'The',
 'devlopment',
 'community',
 'is',
 'very',
 'eager',
 'to',
 'meet',
 'Van Rossum']

###  Tweet Tokenizer

In [158]:
sent  = 'Hello Friends :) ! How are you? Wellcome to the world of Python Programming :D'

In [159]:
print(sent)

Hello Friends :) ! How are you? Wellcome to the world of Python Programming :D

In [160]:
# import the class 
from nltk.tokenize import TweetTokenizer
tk = TweetTokenizer()

# Tokenize the data
tk.tokenize(sent)

['Hello',
 'Friends',
 ':)',
 '!',
 'How',
 'are',
 'you',
 '?',
 'Wellcome',
 'to',
 'the',
 'world',
 'of',
 'Python',
 'Programming',
 ':D']

In [162]:
f = open('mydata.txt')
data = f.read()
print(data)

Hello Friends!😀 How are you?👋
Welcome🙏 tothe world🌎 of python Programming.

In [164]:
word_tokenize(data)

['Hello',
 'Friends',
 '!',
 '😀',
 'How',
 'are',
 'you',
 '?',
 '👋',
 'Welcome🙏',
 'tothe',
 'world🌎',
 'of',
 'python',
 'Programming',
 '.']

In [163]:
# import the class 
from nltk.tokenize import TweetTokenizer
tk = TweetTokenizer()

# Tokenize the data
tk.tokenize(data)

['Hello',
 'Friends',
 '!',
 '😀',
 'How',
 'are',
 'you',
 '?',
 '👋',
 'Welcome',
 '🙏',
 'tothe',
 'world',
 '🌎',
 'of',
 'python',
 'Programming',
 '.']

## Custom Tokenizer

In [168]:
import re 

def custom_tokenizer(text):
    return re.split(r"[.,;!\s]+", text)

text = "This is some text with punctuation > let's tokenize it. Is it ok?

tokens = custom_tokenizer(text)

for token in tokens:
    print(token)

Object `ok` not found.

TypeError: expected string or bytes-like object, got 'list'

In [172]:
#https://mitu.co.in/dataset
#Download: student3.tsv

In [224]:
f = open('student3.tsv')
data = f.readlines()
print(data)

['roll\tname\tclass\tmarks\tage\n', '1\tanil\tTE\t56.77\t22\n', '2\tamit\tTE\t59.77\t21\n', '3\taniket\tBE\t76.88\t19\n', '4\tajinkya\tTE\t69.66\t20\n', '5\tasha\tTE\t63.28\t20\n', '6\tayesha\tBE\t49.55\t20\n', '7\tamar\tBE\t65.34\t19\n', '8\tamita\tBE\t68.33\t23\n', '9\tamol\tTE\t56.75\t20\n', '10\tanmol\tBE\t78.66\t21\n']

In [265]:
##try by me 
# import the class 
from nltk.tokenize import TabTokenizer
tk = TabTokenizer()

# Tokenize the data
lst = []

for line in data:
    b = tk.tokenize(line)
    lst.append(b)

lst.pop(0)

['r']

In [266]:
print(lst)

[['o'], ['l'], ['l'], ['', ''], ['n'], ['a'], ['m'], ['e'], ['', ''], ['c'], ['l'], ['a'], ['s'], ['s'], ['', ''], ['m'], ['a'], ['r'], ['k'], ['s'], ['', ''], ['a'], ['g'], ['e'], ['\n'], ['1'], ['', ''], ['a'], ['n'], ['i'], ['l'], ['', ''], ['T'], ['E'], ['', ''], ['5'], ['6'], ['.'], ['7'], ['7'], ['', ''], ['2'], ['2'], ['\n'], ['2'], ['', ''], ['a'], ['m'], ['i'], ['t'], ['', ''], ['T'], ['E'], ['', ''], ['5'], ['9'], ['.'], ['7'], ['7'], ['', ''], ['2'], ['1'], ['\n'], ['3'], ['', ''], ['a'], ['n'], ['i'], ['k'], ['e'], ['t'], ['', ''], ['B'], ['E'], ['', ''], ['7'], ['6'], ['.'], ['8'], ['8'], ['', ''], ['1'], ['9'], ['\n'], ['4'], ['', ''], ['a'], ['j'], ['i'], ['n'], ['k'], ['y'], ['a'], ['', ''], ['T'], ['E'], ['', ''], ['6'], ['9'], ['.'], ['6'], ['6'], ['', ''], ['2'], ['0'], ['\n'], ['5'], ['', ''], ['a'], ['s'], ['h'], ['a'], ['', ''], ['T'], ['E'], ['', ''], ['6'], ['3'], ['.'], ['2'], ['8'], ['', ''], ['2'], ['0'], ['\n'], ['6'], ['', ''], ['a'], ['y'], ['e'], ['s'], ['h'], ['a'], ['', ''], ['B'], ['E'], ['', ''], ['4'], ['9'], ['.'], ['5'], ['5'], ['', ''], ['2'], ['0'], ['\n'], ['7'], ['', ''], ['a'], ['m'], ['a'], ['r'], ['', ''], ['B'], ['E'], ['', ''], ['6'], ['5'], ['.'], ['3'], ['4'], ['', ''], ['1'], ['9'], ['\n'], ['8'], ['', ''], ['a'], ['m'], ['i'], ['t'], ['a'], ['', ''], ['B'], ['E'], ['', ''], ['6'], ['8'], ['.'], ['3'], ['3'], ['', ''], ['2'], ['3'], ['\n'], ['9'], ['', ''], ['a'], ['m'], ['o'], ['l'], ['', ''], ['T'], ['E'], ['', ''], ['5'], ['6'], ['.'], ['7'], ['5'], ['', ''], ['2'], ['0'], ['\n'], ['1'], ['0'], ['', ''], ['a'], ['n'], ['m'], ['o'], ['l'], ['', ''], ['B'], ['E'], ['', ''], ['7'], ['8'], ['.'], ['6'], ['6'], ['', ''], ['2'], ['1'], ['\n']]

In [240]:
f = open('student3.tsv')
data = f.read()
print(data)

roll	name	class	marks	age
1	anil	TE	56.77	22
2	amit	TE	59.77	21
3	aniket	BE	76.88	19
4	ajinkya	TE	69.66	20
5	asha	TE	63.28	20
6	ayesha	BE	49.55	20
7	amar	BE	65.34	19
8	amita	BE	68.33	23
9	amol	TE	56.75	20
10	anmol	BE	78.66	21

In [260]:
# Given byu sir
newdata = []
for x in data.split('\n'):
    inner_list = []
    for y in x.split('\t'):
        if y.isdigit():
            inner_list.append(int(y))
        elif y.find('.') > 0:
            inner_list.append(float(y))
        else:
            inner_list.append(y)

    newdata.append(inner_list)
newdata

[['roll', 'name', 'class', 'marks', 'age'],
 [1, 'anil', 'TE', 56.77, 22],
 [2, 'amit', 'TE', 59.77, 21],
 [3, 'aniket', 'BE', 76.88, 19],
 [4, 'ajinkya', 'TE', 69.66, 20],
 [5, 'asha', 'TE', 63.28, 20],
 [6, 'ayesha', 'BE', 49.55, 20],
 [7, 'amar', 'BE', 65.34, 19],
 [8, 'amita', 'BE', 68.33, 23],
 [9, 'amol', 'TE', 56.75, 20],
 [10, 'anmol', 'BE', 78.66, 21],
 ['']]

In [258]:
newdata.pop(0)

['roll', 'name', 'class', 'marks', 'age']

In [259]:
newdata

[[1, 'anil', 'TE', 56.77, 22],
 [2, 'amit', 'TE', 59.77, 21],
 [3, 'aniket', 'BE', 76.88, 19],
 [4, 'ajinkya', 'TE', 69.66, 20],
 [5, 'asha', 'TE', 63.28, 20],
 [6, 'ayesha', 'BE', 49.55, 20],
 [7, 'amar', 'BE', 65.34, 19],
 [8, 'amita', 'BE', 68.33, 23],
 [9, 'amol', 'TE', 56.75, 20],
 [10, 'anmol', 'BE', 78.66, 21],
 ['']]